# Ignore node_modules directory
node_modules

# Ignore npm cache
.npm

# Ignore yarn cache
.yarn

# Ignore logs and temporary files
*.log
*.tmp

# Ignore build artifacts
.next/

# Ignore editor/IDE files
.vscode/
.idea/
.DS_Store

# Ignore tests and documentation
__tests__/
docs/

# Ignore version control files
.git/
.gitignore

# Ignore development-specific configuration
.env.local
.env

# Ignore Dockerfile
Dockerfile