<mat-card class="example-card">
  <mat-card-title>Génération des images</mat-card-title>
  <mat-card-header style="margin-left: 180px">
    <app-menu></app-menu>
  </mat-card-header>
  <mat-card-content >
    <div style="display: flex">
      <mat-card-actions style="gap: 50px; justify-content: center; margin-left: auto; margin-right: auto;"> <!-- Mettre le bouton au centre horizontalement -->
        <button mat-stroked-button color="primary">Generate</button>
      </mat-card-actions>
    </div>
    <div class="image-card" style="display: flex">
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-card>
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-card>
    </div>
  </mat-card-content>
  <mat-card-actions style="justify-content: center">
  </mat-card-actions>
</mat-card>
